<div class="col-md-6">
  <ul>
    <li><a [routerLink]="['vijaytv']" routerLinkActive="router-link-active">Vijay tv</a></li>
    <li><a [routerLink]="['polimertv']" routerLinkActive="router-link-active">Polimer tv</a></li>
    <li><a [routerLink]="['ktv']" routerLinkActive="router-link-active">K tv</a></li>
    <li><a [routerLink]="['suntv']" routerLinkActive="router-link-active">Sun tv</a></li>
    <li><a [routerLink]="['startv']" routerLinkActive="router-link-active">Star tv</a></li>
  </ul>
</div>
<div class="col-md-6">
  <router-outlet></router-outlet>
</div>